<div class="container-fluid mt-5" style="padding: 0px 60px;">
  <div class="card shadow-lg p-4 rounded-4">
    @if(isEditing && !isProfileMode){
      <button class="btn-back-rosa position-absolute" (click)="router.navigate(['/pages/atencion-cliente/mantenimiento-clientes'])">
        <i class="bi bi-arrow-left"></i>
        <span>Volver a Mantenimiento Clientes</span>
      </button>
    }
    @if(isPublicAccess){
      <button class="btn-back-rosa position-absolute" (click)="router.navigate(['/auth/login'])">
        <i class="bi bi-arrow-left"></i>
        <span>Volver al Login</span>
      </button>
    }
    @if(isProfileMode){
      <button class="btn-back-rosa position-absolute" (click)="router.navigate(['/pages/home'])">
        <i class="bi bi-arrow-left"></i>
        <span>Volver al Inicio</span>
      </button>
    }
    
    <h2 class="mb-4 text-center">{{titleText}}</h2>
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">
        <!-- Nombre -->
        <div class="col-md-6">
          <label for="nombres" class="form-label fw-bold">Nombre*</label>
          <input type="text" formControlName="nombres" class="form-control" placeholder="Ingrese el nombre" required (input)="onNombreInput($event)" />
          <div *ngIf="clienteForm.get('nombres')?.invalid && clienteForm.get('nombres')?.touched" class="text-danger small">
            El nombre es obligatorio.
          </div>
        </div>
        <!-- Apellido -->
        <div class="col-md-6">
          <label for="apellidos" class="form-label fw-bold">Apellido*</label>
          <input type="text" formControlName="apellidos" class="form-control" placeholder="Ingrese el apellido" required (input)="onApellidoInput($event)" />
          <div *ngIf="clienteForm.get('apellidos')?.invalid && clienteForm.get('apellidos')?.touched" class="text-danger small">
            El apellido es obligatorio.
          </div>
        </div>
        <!-- Rol -->
        @if(!isPublicAccess && !isProfileMode){
          <div class="col-md-3">
            <label for="rol" class="form-label fw-bold">Rol*</label>
            <select formControlName="rol" class="form-select" required>
              <option value="" disabled selected>Seleccione rol</option>
              <option *ngFor="let rol of roles" [value]="rol.idRol">{{ rol.nombre }}</option>
            </select>
            <div *ngIf="clienteForm.get('rol')?.invalid && clienteForm.get('rol')?.touched" class="text-danger small">
              El rol es obligatorio.
            </div>
          </div>
        }
        <!-- Tipo de Documento -->
        <div [class]="(isPublicAccess || isProfileMode) ? 'col-md-6' : 'col-md-3'">
          <label for="tipoDocumento" class="form-label fw-bold">Tipo de Documento*</label>
          <select formControlName="tipoDocumento" class="form-select" required>
            <option value="" disabled selected>Seleccione tipo de documento</option>
            <option *ngFor="let tipo of tiposDocumento" [value]="tipo.idTipoDocumento">{{ tipo.nombre }}</option>
          </select>
          <div *ngIf="clienteForm.get('tipoDocumento')?.invalid && clienteForm.get('tipoDocumento')?.touched" class="text-danger small">
            El tipo de documento es obligatorio.
          </div>
        </div>
        <!-- Número de Documento -->
        <div class="col-md-6">
          <label for="numeroDocumento" class="form-label fw-bold">Número de Documento*</label>
          <input type="text" formControlName="numeroDocumento" class="form-control" placeholder="Ingrese el número de documento" required />
          <div *ngIf="clienteForm.get('numeroDocumento')?.invalid && clienteForm.get('numeroDocumento')?.touched" class="text-danger small">
            El número de documento es obligatorio.
          </div>
        </div>
        <!-- Empresa Asociada -->
        <div class="col-md-6">
          <label for="empresaAsociada" class="form-label fw-bold">Empresa asociada (Nombre de Spa, consultorio o Centro Estético)</label>
          <input type="text" formControlName="empresaAsociada" class="form-control" placeholder="Ingrese el nombre de la empresa (opcional)" />
        </div>
        <!-- Correo Electrónico -->
        <div [className]="isEditing ? 'col-md-6' : 'col-md-3'">
          <label for="correo" class="form-label fw-bold">Correo Electrónico*</label>
          <input type="email" formControlName="correo" class="form-control" placeholder="Ingrese el correo electrónico" required />
          <div *ngIf="clienteForm.get('correo')?.invalid && clienteForm.get('correo')?.touched" class="text-danger small">
            El correo es obligatorio y debe ser válido.
          </div>
        </div>
        @if (!isEditing) {
          <!-- Confirmación de Correo Electrónico -->
          <div class="col-md-3">
            <label for="confirmCorreo" class="form-label fw-bold">Confirmar Correo Electrónico*</label>
            <input type="email" formControlName="confirmCorreo" class="form-control" placeholder="Confirme el correo electrónico" required />
            <div *ngIf="(clienteForm.get('confirmCorreo')?.touched || clienteForm.get('correo')?.touched) && clienteForm.hasError('correosNoCoinciden')" class="text-danger small">
              Los correos electrónicos no coinciden.
            </div>
            <div *ngIf="clienteForm.get('confirmCorreo')?.invalid && clienteForm.get('confirmCorreo')?.touched && !clienteForm.hasError('correosNoCoinciden')" class="text-danger small">
              El correo de confirmación es obligatorio y debe ser válido.
            </div>
          </div>
        }
        <!-- Teléfono -->
        <div class="col-md-3">
          <label for="telefono" class="form-label fw-bold">Teléfono*</label>
          <input
            type="tel"
            formControlName="telefono"
            class="form-control"
            placeholder="Ingrese el teléfono"
            required
            maxlength="9"
            pattern="[0-9]*"
            inputmode="numeric"
            (input)="onTelefonoInput($event)"
          />
          <div *ngIf="clienteForm.get('telefono')?.invalid && clienteForm.get('telefono')?.touched" class="text-danger small">
            El teléfono es obligatorio y debe contener 9 dígitos.
          </div>
        </div>

        <div class="col-md-3">
          <label for="telefono2" class="form-label fw-bold">Teléfono Fijo (opcional)</label>
          <input
            type="tel"
            formControlName="telefono2"
            class="form-control"
            placeholder="Ingrese el teléfono fijo"
            maxlength="9"
            pattern="[0-9]*"
            inputmode="numeric"
            (input)="onTelefono2Input($event)"
          />
          <div *ngIf="clienteForm.get('telefono2')?.value && clienteForm.get('telefono2')?.invalid && clienteForm.get('telefono2')?.touched" class="text-danger small">
            El teléfono debe contener 9 dígitos.
          </div>
        </div>
        <!-- Fecha de Nacimiento -->
        <div class="col-md-6">
          <label for="fechaNacimiento" class="form-label fw-bold">Fecha de Nacimiento*</label>
          <input type="date" formControlName="fechaNacimiento" class="form-control" required />
          <div *ngIf="clienteForm.get('fechaNacimiento')?.invalid && clienteForm.get('fechaNacimiento')?.touched" class="text-danger small">
            La fecha de nacimiento es obligatoria.
          </div>
        </div>
        <!-- Dirección -->
        <div class="col-md-12">
          <label for="direccion" class="form-label fw-bold">Dirección de Domicilio*</label>
          <input type="text" formControlName="direccion" class="form-control" placeholder="Ingrese la dirección" required />
          <div *ngIf="clienteForm.get('direccion')?.invalid && clienteForm.get('direccion')?.touched" class="text-danger small">
            La dirección es obligatoria.
          </div>
        </div>
        <!-- Medio de Contacto -->
        <div class="col-md-6">
          <label for="medioContacto" class="form-label fw-bold">Medio de Contacto</label>
          <select formControlName="medioContacto" class="form-select">
            <option [value]="null" disabled selected>Seleccione medio de contacto</option>
            <option *ngFor="let medio of mediosContacto" [value]="medio.idMedioContacto">{{ medio.nombre }}</option>
          </select>
        </div>
		    <!-- Profesion -->
        <div class="col-md-6">
          <label for="profesion" class="form-label fw-bold">
            Profesión / Oficio
            @if (isProfesionObligatoria()) {
              <span class="text-danger">*</span>
            }
          </label>
          <input type="text" formControlName="profesion" class="form-control" placeholder="Ingrese la profesión" />
          @if (clienteForm.get('profesion')?.invalid && clienteForm.get('profesion')?.touched) {
            <div class="text-danger small">
              La profesión es obligatoria.
            </div>
          }
        </div>

        <div class="col-md-6">
          <label for="colegioProfesional" class="form-label fw-bold">
            Colegio profesional
            @if (isCamposProfesionalesObligatorios()) {
              <span class="text-danger">*</span>
            } @else {
              (opcional)
            }
          </label>
          <input type="text" formControlName="colegioProfesional" class="form-control" placeholder="Ingrese su colegio profesional" />
          @if (clienteForm.get('colegioProfesional')?.invalid && clienteForm.get('colegioProfesional')?.touched) {
            <div class="text-danger small">
              El colegio profesional es obligatorio.
            </div>
          }
        </div>

        <div class="col-md-6">
          <label for="numeroColegiatura" class="form-label fw-bold">
            N° Colegiatura
            @if (isCamposProfesionalesObligatorios()) {
              <span class="text-danger">*</span>
            } @else {
              (opcional)
            }
          </label>
          <input type="text" formControlName="numeroColegiatura" class="form-control" placeholder="Ingrese el número de su colegiatura" />
          @if (clienteForm.get('numeroColegiatura')?.invalid && clienteForm.get('numeroColegiatura')?.touched) {
            <div class="text-danger small">
              El número de colegiatura es obligatorio.
            </div>
          }
        </div>

        <!-- Usuario -->
        <div class="col-md-3">
          <label for="usuario" class="form-label fw-bold">Usuario*</label>
          <input type="text" formControlName="usuario" class="form-control" placeholder="Ingrese el usuario" required autocomplete="off" />
          <div *ngIf="clienteForm.get('usuario')?.invalid && clienteForm.get('usuario')?.touched" class="text-danger small">
            El usuario es obligatorio.
            Mínimo 6 caracteres.
          </div>
        </div>
        <!-- Password -->
        <div class="col-md-3">
          <label for="password" class="form-label fw-bold">Contraseña*</label>
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="Ingrese la contraseña" required autocomplete="new-password" />
            <button type="button" class="btn btn-dark" (click)="showPassword = !showPassword" tabindex="-1">
              <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
          </div>
          <div *ngIf="clienteForm.get('password')?.invalid && clienteForm.get('password')?.touched && (!isEditing || passwordTouched)" class="text-danger small">
            La contraseña debe tener mínimo 6 caracteres, incluir mayúscula, minúscula, número y caracter especial.
          </div>
        </div>
        <!-- Codigo referido -->
         <div class="col-md-6">
          <label for="referidoPor" class="form-label fw-bold">Código de Referido</label>
          <div class="input-group">
            <input type="text" formControlName="referidoPor" class="form-control" placeholder="Ingrese el código de referido" maxlength="6"  (input)="changeCodigoReferido($event)"/>
            <button [disabled]="isEditing" class="btn btn-dark" type="button" (click)="validarCodigoReferido()">Validar código</button>
          </div>
          <div *ngIf="isCodigoReferidoValid === true" class="text-success small">
            Código de referido válido.
          </div>
          <div *ngIf="isCodigoReferidoValid === false" class="text-danger small">
            Código de referido inválido.
          </div>
        </div>

        <!-- Comentarios -->
        <div class="col-md-6">
          <label for="observaciones" class="form-label fw-bold">Comentarios</label>
          <textarea formControlName="observaciones" class="form-control" rows="3" placeholder="Ingrese comentarios adicionales"></textarea>
        </div>
        <div class="col-md-6">
          <label for="archivoInput" class="form-label fw-bold">
            Selecciona un archivo
            @if (isArchivoObligatorio()) {
              <span class="text-danger">*</span>
            }
          </label>
    
          <input type="file"
                id="archivoInput"
                class="form-control"
                (change)="onArchivoSeleccionado($event)" accept=".pdf,.jpg,.png">

          <div class="text-secondary small">
            @if (isArchivoObligatorio()) {
              <span class="text-danger">*Obligatorio: </span>
            } @else {
              *
            }
            Si es profesional de Estética adjuntar constancia o certificado, si es estudiante adjuntar boleta, carnét u otro documento que acredite
          </div>
          @if (clienteForm.get('documentoAdicional')?.invalid && clienteForm.get('documentoAdicional')?.touched) {
            <div class="text-danger small">
              El archivo adjunto es obligatorio.
            </div>
          }
        </div>
      </div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary px-5 py-2 rounded-4" [disabled]="clienteForm.invalid || isSubmitting">
          @if (isSubmitting) {
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            {{ isEditing ? 'Actualizando...' : 'Registrando...' }}
          } @else {
            {{ isEditing ? 'Actualizar Cliente' : 'Registrar Cliente' }}
          }
        </button>
      </div>
    </form>
  </div>
</div>