<div class="pages-container">
	<div class="d-flex justify-content-center align-items-center">
		<div class="boton-sidebar">
			@if(!sidebarVisible){

				<p-button
					type="button"
					severity="warning"
					(click)="sidebarVisible = true"
					icon="pi pi-bars"
					[style]="{ height: '61.6px', width: '61.6px'}"/>
			} @else {

				<p-button
					type="button"
					severity="warning"
					(click)="sidebarVisible = true"
					icon="pi pi-chevron-left"
					[style]="{ height: '61.6px', width: '61.6px'}"/>
			}
		</div>
		<div class="w-full">

			<app-navbar></app-navbar>
		</div>
	</div>
	<div class="row w-full completo flex-grow-1">
		<div class="col-xl-2 sidebar bg-gray-100 p-3 overflow-y-auto">
			<app-sidebar></app-sidebar>

		</div>
		<div class="col-xl-10 col-sm-12 w-full ">
			<router-outlet></router-outlet>
		</div>
	</div>
	<app-footer></app-footer>
</div>
@if (sidebarVisible){
		<p-sidebar [(visible)]="sidebarVisible" position="left">
			<ng-template pTemplate="header">
				<span class="font-semibold text-xl w-full text-info"><img src="assets/img/bella-curet-logotipo.png" width="80"> Barra de Selección</span>
			</ng-template>
			<app-sidebar></app-sidebar>
		</p-sidebar>

}
