<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
	<a class="navbar-brand" href="#">MAGISTRACK-BC</a>
    <div class="ms-auto">
        <div ngbDropdown class="d-inline-block">
            <img
                src="assets/img/user-icon.png"
                alt="User"
                class="rounded-circle"
                style="cursor: pointer"
                id="userMenu"
                ngbDropdownToggle
                width="40"
            />
            <ul ngbDropdownMenu aria-labelledby="userMenu" class="dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
	<!-- <div class="ms-auto">
		<div class="dropdown">
			<img
				src="assets/img/user-icon.png"
				alt="User"
				class="rounded-circle"
				style="cursor: pointer"
				id="userMenu"
				data-bs-toggle="dropdown"
				aria-expanded="false"
                width="40"
			/>
			<ul
				class="dropdown-menu dropdown-menu-end"
				aria-labelledby="userMenu"
			>
				<li>
					<a class="dropdown-item" href="#" (click)="cerrarSesion()"
						>Cerrar Sesión</a
					>
				</li>
			</ul>
		</div>
	</div> -->
</nav>

<div class="container-fluid row g-0">
	<!-- Sidebar -->
	<div class="col-md-2 bg-light vh-100 p-3">
		<h5>Atención al Cliente</h5>
		<ul class="nav flex-column">
			@if (dataService.getLoggedUser().rol.idRol == 1) {
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/atencion-cliente/registro-cliente')"
                    style="cursor: pointer"
					>Registro de Cliente</a
				>
			</li>
			}
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/atencion-cliente/registro-pedido')"
                    style="cursor: pointer"
					>Registro de Pedido</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/atencion-cliente/bandeja-pedidos')"
                    style="cursor: pointer"
					>Bandeja de Pedidos</a
				>
			</li>
			@if (dataService.getLoggedUser().rol.idRol == 1) {
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/atencion-cliente/bandeja-personalizacion')"
                    style="cursor: pointer"
					>Bandeja de Personalización</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('venta-rapida/productos-venta-rapida')"
                    style="cursor: pointer"
					>Venta rápida</a
				>
			</li>
			}
		</ul>
		@if (dataService.getLoggedUser().rol.idRol == 1) {
		<h5>Producción</h5>
		<ul class="nav flex-column">
			
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/produccion/bandeja-produccion')"
                    style="cursor: pointer"
					>Bandeja de producción</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/produccion/bandeja-calidad')"
                    style="cursor: pointer"
					>Bandeja de calidad</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/produccion/bandeja-envasado')"
                    style="cursor: pointer"
					>Bandeja de envasado</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/produccion/bandeja-etiquetado')"
                    style="cursor: pointer"
					>Bandeja de etiquetado</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/produccion/bandeja-despacho')"
                    style="cursor: pointer"
					>Bandeja de despacho</a
				>
			</li>
			
		</ul>
		
		<h5>Gestión Producto</h5>
		<ul class="nav flex-column">
			<li class="nav-item">
				<a
					class="nav-link"
					(click)="irA('pages/gestion-producto/registro-producto')"
                    style="cursor: pointer"
					>Registro de Producto</a
				>
			</li>
		</ul>
		}
	</div>

	<!-- Contenido Principal -->
	<div class="col-md-10">
		<router-outlet></router-outlet>
	</div>
</div>
