@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');

.tipo-letra {
	font-family: 'Playwrite AU NSW', sans-serif;
}

.navbar-custom {
  background-color: rgb(212 133 140);
  min-height: 61.6px; /* Altura que coincide exactamente con el botón del sidebar */
  height: 61.6px; /* Altura fija que coincide con el botón del sidebar */
}