<div class="container-fluid mt-5" style="padding: 0px 60px;">
	<div class="card shadow-lg p-4 rounded-4">

		<button style="position: absolute;" class="btn btn-link text-decoration-none p-0" (click)="router.navigate(['/pages/atencion-cliente/bandeja-pedidos-administrador'])">
			<i class="bi bi-arrow-left"></i> Regresar a bandeja de pedidos
		</button>

		<h2 class="mb-4 text-center">Bandeja de Personalización</h2>

		<!-- Tabla de Pedidos -->
		<table class="table table-bordered align-middle mt-0">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">Pedido</th>
					<th scope="col">Producto</th>
                    <th scope="col">Glosa</th>
					<th scope="col">Monto (S/)</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				@for (item of productosPersonalizados; track $index) {
				<tr>
					<td>{{item.pedido.idPedido}}</td>
					<td>{{item.producto.idProducto}}</td>
					<td>{{item.detallesPersonalizacion}}</td>
                    <td>{{item.precioPersonalizado ? item.precioPersonalizado.toFixed(2) : '-'}}</td>
					<td>
						<button [disabled]="item.pedido.estadoPedido.idEstadoPedido == 2" style="padding: 2px 5px;" class="btn btn-primary me-2" (click)="router.navigate(['/pages/atencion-cliente/calculadora-maestra', item.pedido.idPedido, item.producto.idProducto])">
							<i style="font-size: 22px;" class="bi bi-calculator-fill"></i>
						</button>
					</td>
				</tr>
				}
			</tbody>
		</table>

		<!-- Paginación de Pedidos -->
		<!-- <div class="d-flex justify-content-between align-items-center mt-4">
			<span>Mostrando 1 a 3 de 50 pedidos</span>
			<nav>
				<ul class="pagination">
					<li class="page-item disabled">
						<a class="page-link" href="#">Anterior</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Siguiente</a>
					</li>
				</ul>
			</nav>
		</div> -->

	</div>
</div>
