
ul{
	padding-left:0 !important;
	margin-bottom: 0 !important;
}
ul li a{
	list-style: none !important;
	text-decoration: none !important;

}
img{
	object-fit:contain;
}
::ng-deep span.p-inputnumber input{
	width:100% !important;
}
