@if (spinner){
	<app-carga></app-carga>

}
<p-toast></p-toast>
<div class="p-5" >
	<p-table
		#dt
		[value]="listaOrdenes"
		dataKey="codigo"
		[rowHover]="true"
		[rows]="5"
		[showCurrentPageReport]="true"
		[rowsPerPageOptions]="[5, 25, 50]"
		[loading]="loading"
		[paginator]="true"
		currentPageReportTemplate="{first} hasta {last} de {totalRecords} registros"
		[filterDelay]="0"
		styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
		[tableStyle]="{'min-width': '40rem'}"
		[globalFilterFields]="['id_orden_compra', 'fechaemision', 'imptotal','estadoord','celular','direccion','ruc']"
	>
		<ng-template pTemplate="caption">
			<div class="flex justify-between items-center">
				<h4 class="p-text-secondary fw-bold flex items-center"><img src="assets/img/lista-de-deseos.gif" width="50">Ord. Compra x Proveedor</h4>

				<div>

					<p-iconField iconPosition="left">
						<p-inputIcon>
							<i class="pi pi-search"></i>
						</p-inputIcon>
						<input pInputText #input (input)="dt.filterGlobal(input.value, 'contains')" placeholder="Keyword" />
						<!--					<input pInputText type="text" [(ngModel)]="searchValue" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Keyboard Search" />-->
					</p-iconField>
					<p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (click)="clear(dt)" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 g-2">

					<label class="mx-3" >Proveedor:</label>
					<p-dropdown
						[options]="listaProveedores"
						[(ngModel)]="selectedprov"
						optionLabel="descripcion"
						[loading]="cargaprov"
						(ngModelChange)="cambioproveedor()"
						placeholder="Seleccionar Proveedor" />
					<!--					<p-button [outlined]="true" icon="pi pi-file-plus" label="Historial Req." class="mx-1" severity="success"  />-->
					<!--					<p-button  icon="pi pi-angle-double-up" label="Indicadores" severity="info"  class="mx-1"/>-->
					<!--					<p-button [outlined]="true" icon="pi pi-print" label="Reportes" severity="info"  class="mx-1"/>-->
				</div>
				<div class="col-md-6 text-end g-2">
<!--					<p-button  icon="pi pi-plus" label="Nuevo Proveedor" class="mx-1" severity="success" (click)="nuevoproveedor()" />-->
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="id_orden_compra" style="min-width: 30px">
					<div class="flex justify-content-between align-items-center">
						Id
						<p-sortIcon field="id_orden_compra" />
						<p-columnFilter type="text" field="id_orden_compra" display="menu" class="ml-auto" />
					</div>
				</th>
				<th pSortableColumn="fechaemision" style="min-width: 14rem">
					<div class="flex justify-content-between align-items-center">
						Fecha Emisión
						<p-sortIcon field="fechaemision" />
						<p-columnFilter type="text" field="fechaemision" display="menu" class="ml-auto" />
					</div>
				</th>
				<th pSortableColumn="imptotal" style="min-width: 40px">
					<div class="flex justify-content-between align-items-center">
						ImpTotal
						<p-sortIcon field="imptotal" />
						<p-columnFilter type="text" field="imptotal" display="menu" class="ml-auto" />
					</div>
				</th>
				<th pSortableColumn="estadoord" style="min-width: 40px">
					<div class="flex justify-content-between align-items-center">
						Estado
						<p-sortIcon field="estadoord" />
						<p-columnFilter type="text" field="estadoord" display="menu" class="ml-auto" />
					</div>
				</th>
				<th style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Acciones
					</div>
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-customer>
			<tr class="p-selectable-row">
				<td>
					{{ customer.id_orden_compra }}
				</td>
				<td>
					{{ customer.fechaemision }}
				</td>
				<td>
					{{ customer.imptotal | currency:' ':'symbol':'1.2-2':'en-US'}}
				</td>
				<td>
					{{ customer.estadoord }}
				</td>
				<td>
					<p-button  [rounded]="true" icon="pi pi-pencil" class="mx-1" severity="success"  (click)="editarproveedor(customer)"/>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">No se encontraron órdenes de compras.</td>
			</tr>
		</ng-template>
	</p-table>
</div>
@if (verdetalle){
	<p-dialog
		[modal]="true"
		[(visible)]="verdetalle"
		[style]="{ width: '70rem' }"
		[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
		[maximizable]="true">
		<ng-template pTemplate="header">

			<h5 class="text-danger-emphasis border-3 rounded-3 bg-danger-subtle p-2 ">Ver Detalle del Proveedor - {{fila_select.id_orden_compra}}</h5>
		</ng-template>
		<div class="row">
			<div class="col-md-6">
				<label class="text-info-emphasis fw-bold">ID Orden Compra</label>
				<input
					class="w-full"
					type="text"
					pInputText
					readonly
					[(ngModel)]="fila_select.id_orden_compra" />
				<label class="text-info-emphasis fw-bold">Descripción</label>
				<input
					class="w-full"
					type="text"
					pInputText
					[(ngModel)]="fila_select.fechaemision" />
				<label class="text-info-emphasis fw-bold">Representante</label>
				<input
					class="w-full"
					type="text"
					pInputText
					[(ngModel)]="fila_select.imptotal" />

				<label class="text-info-emphasis fw-bold">Ruc</label>
<!--				<input-->
<!--					class="w-full"-->
<!--					type="text"-->
<!--					placeholder="Buscador de RUC"-->
<!--					pInputText-->
<!--					[(ngModel)]="fila_select.ruc" />-->
			</div>
			<div class="col-md-6">

				<label class="text-info-emphasis fw-bold">Correo</label>
				<input
					class="w-full"
					type="text"
					pInputText
					[(ngModel)]="fila_select.estadoord" />
				<label class="text-info-emphasis fw-bold">Celular</label>
<!--				<input-->
<!--					class="w-full"-->
<!--					type="text"-->
<!--					pInputText-->
<!--					[(ngModel)]="fila_select.celular" />-->
<!--				<label class="text-info-emphasis fw-bold">Dirección</label>-->
<!--				<input-->
<!--					class="w-full"-->
<!--					type="text"-->
<!--					pInputText-->
<!--					[(ngModel)]="fila_select.direccion" />-->
			</div>
		</div>
		<ng-template pTemplate="footer">
			<p-button [outlined]="true" icon="pi pi-trash" label="Cancelar" class="mx-1" severity="danger" (click)="verdetalle=false;editarproveedor(fila_select)"  />
			<p-button  icon="pi pi-save" label="Registrar Proveedor" class="mx-1" severity="success"  />
		</ng-template>
	</p-dialog>
}

