
ul{
	padding-left:0 !important;
	margin-bottom: 0 !important;
}
ul li a{
	list-style: none !important;
	text-decoration: none !important;

}
.back-tabla{
	background: #ffe6ba !important;
}
.p-badge{
	font-size: 0.55rem;
	font-weight: 600;
	min-width: 1rem;
	height: 1rem;
	line-height: 1rem;
}
.observado{
	background: #ffc1c1;
	color: #9d1d1d;
	font-weight:700;
}
