<div class="container py-3" style="max-width: 700px;">
	<h5 class="fw-bold text-center mb-3">CARRITO DE VENTA RÁPIDA</h5>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Precio</th>
				<th>Subtotal</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of carrito; index as i">
				<td>{{ item.nombre }}</td>
				<td>{{ item.cantidadSeleccionada }}</td>
				<td>S/ {{ item.precio.toFixed(2) }}</td>
				<td>
					S/
					{{ (item.precio * item.cantidadSeleccionada).toFixed(2) }}
				</td>
				<td>
					<button
						class="btn btn-outline-danger btn-sm"
						(click)="quitar(item.idProducto)"
					>
						Quitar
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="text-end fw-bold mb-3">S/ {{ total.toFixed(2) }}</div>

	<div class="row mb-3">
		<div class="col-md-6">
			<label for="tipoPago" class="form-label">Tipo de pago</label>
			<select [(ngModel)]="idTipoPago" class="form-select" required (change)="efectivoRecibido = 0; vuelto = 0;">
				<option [value]="0" disabled selected>
					Seleccione tipo de pago
				</option>
				<option
					*ngFor="let tipo of lstTiposPago"
					[value]="tipo.idTipoPago"
				>
					{{ tipo.descripcion }}
				</option>
			</select>
		</div>
	</div>

	@if(idTipoPago == 3) {
	<div class="row mb-3">
		<div class="col-md-6">
			<label for="banco" class="form-label">Banco</label>
			<select [(ngModel)]="idBanco" class="form-select" required>
				<option [ngValue]="null" disabled selected>Seleccione banco</option>
				<option *ngFor="let banco of lstBancos" [ngValue]="banco.idBanco">
					{{ banco.nombre }}
				</option>
			</select>
		</div>
		<div class="col-md-6">
			<label for="numeroOperacion" class="form-label">Número de operación</label>
			<input type="text" id="numeroOperacion" class="form-control" [(ngModel)]="numeroOperacion" name="numeroOperacion" />
		</div>
	</div>
	}

	@if (idTipoPago == 4) {
	<div class="row mb-3">
		<div class="col">
			<label for="efectivoRecibido" class="form-label">Efectivo recibido</label>
			<input
				type="number"
				class="form-control"
				placeholder="Ingrese efectivo"
				[(ngModel)]="efectivoRecibido"
				(ngModelChange)="vuelto = (efectivoRecibido - total)"
			/>
		</div>

		<div class="col">
			<label for="vuelto" class="form-label">Vuelto</label>
			<input
				type="number"
				class="form-control"
				[value]="vuelto.toFixed(2)"
				disabled=""
			/>
		</div>
		
	</div>

	}

	<div class="d-flex justify-content-between">
		<button
			class="btn btn-outline-secondary w-50 me-2"
			(click)="router.navigate(['venta-rapida/productos-venta-rapida'])"
		>
			Atrás
		</button>
		<button class="btn btn-success w-50" (click)="crearPedido()">
			Finalizar
		</button>
	</div>
</div>


<ng-template #enviarComprobante let-modal>
	<div class="modal-header">
		<h5 class="modal-title">Enviar Comprobante</h5>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="dni" class="form-label">DNI</label>
				<input type="text" id="dni" class="form-control" [(ngModel)]="dni" name="dni" maxlength="8" />
			</div>
			<div class="mb-3">
				<label for="nombres" class="form-label">Nombres y apellidos</label>
				<input type="text" id="nombres" class="form-control" [(ngModel)]="nombreCliente" name="nombres" />
			</div>
			<div class="mb-3">
				<label for="celular" class="form-label">Celular*</label>
				<input type="text" id="celular" class="form-control" [(ngModel)]="celular" name="celular" maxlength="9" />
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="ticketVenta()">Ticket Venta</button>
		<!-- <button type="button" class="btn btn-success" (click)="modal.close()">Boleta</button> -->
	</div>
</ng-template>