@if (spinner){
	<app-carga></app-carga>
}
<p-toast></p-toast>
<div class="p-5" >
	<p-table
		#dt
		[value]="listaOrdenes"
		dataKey="id_orden_compra"
		[rowHover]="true"
		[rows]="5"
		[showCurrentPageReport]="true"
		[rowsPerPageOptions]="[5, 25, 50]"
		[loading]="loading"
		[paginator]="true"
		currentPageReportTemplate="{first} hasta {last} de {totalRecords} registros"
		[filterDelay]="0"
		styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
		[tableStyle]="{'min-width': '40rem'}"
		[expandedRowKeys]="expandedRows"
		[globalFilterFields]="['id_orden_compra', 'fechaemision', 'imptotal','estadoord','celular','direccion','ruc']"
	>
		<ng-template pTemplate="caption">
			<div class="flex justify-between items-center">
				<h4 class="p-text-secondary fw-bold flex items-center"><img src="assets/img/lista-de-deseos.gif" width="50">Ord. Compra x Proveedor</h4>

				<div>

					<p-iconField iconPosition="left">
						<p-inputIcon>
							<i class="pi pi-search"></i>
						</p-inputIcon>
						<input pInputText #input (input)="dt.filterGlobal(input.value, 'contains')" placeholder="Keyword" />
						<!--					<input pInputText type="text" [(ngModel)]="searchValue" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Keyboard Search" />-->
					</p-iconField>
					<p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (click)="clear(dt)" />

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-12 g-2">

					<label class="mx-3" >Proveedor:</label>
					<p-dropdown
						[options]="listaProveedores"
						[(ngModel)]="selectedprov"
						optionLabel="descripcion"
						[loading]="cargaprov"
						(ngModelChange)="cambioproveedor()"
						placeholder="Seleccionar Proveedor" />
					<!--					<p-button [outlined]="true" icon="pi pi-file-plus" label="Historial Req." class="mx-1" severity="success"  />-->
					<!--					<p-button  icon="pi pi-angle-double-up" label="Indicadores" severity="info"  class="mx-1"/>-->
					<!--					<p-button [outlined]="true" icon="pi pi-print" label="Reportes" severity="info"  class="mx-1"/>-->
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="d-flex flex-wrap gap-3">
						<div class="d-flex align-items-center">
							<p-radioButton
								name="Proveedor"
								value="1"
								[(ngModel)]="radio_ordercompra"
								(ngModelChange)="cambio_oc()"
								routerLink="../../proveedor/ordencompra-proveedor"/>
							<label  class="ml-2">
								Proveedor
							</label>
						</div>

						<div class="d-flex align-items-center">
							<p-radioButton
								name="Empresa"
								value="2"
								[(ngModel)]="radio_ordercompra"
								inputId="ingredient2"
								(ngModelChange)="cambio_oc()"
								routerLink="../../compras/ordencompra"/>
							<label  class="ml-2">
								Empresa
							</label>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 text-end g-2">

					<p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" />
					<p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()" />
					<!--					<p-button  icon="pi pi-plus" label="Nuevo Proveedor" class="mx-1" severity="success" (click)="nuevoproveedor()" />-->
				</div>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th style="width: 5rem"></th>
				<th pSortableColumn="id_orden_compra" style="min-width: 30px">
					<div class="flex justify-content-between align-items-center">
						Id
						<p-sortIcon field="id_orden_compra" />
						<p-columnFilter type="text" field="id_orden_compra" display="menu" class="ml-auto" />
					</div>
				</th>
				<th style="min-width: 50px">
					Validaciones
				</th>
				<th pSortableColumn="fechaemision" style="min-width: 200px">
					<div class="flex justify-content-between align-items-center">
						Fecha Emisión
						<p-sortIcon field="fechaemision" />
						<p-columnFilter type="text" field="fechaemision" display="menu" class="ml-auto" />
					</div>
				</th>
				<th pSortableColumn="imptotal" style="min-width: 40px">
					<div class="flex justify-content-between align-items-center">
						ImpTotal
						<p-sortIcon field="imptotal" />
						<p-columnFilter type="text" field="imptotal" display="menu" class="ml-auto" />
					</div>
				</th>
				<th pSortableColumn="estadoord" style="min-width: 150px">
					<div class="flex justify-content-between align-items-center">
						Estado OC
						<p-sortIcon field="estadoord" />
						<p-columnFilter type="text" field="estadoord" display="menu" class="ml-auto" />
					</div>
				</th>
				<th pSortableColumn="fechaemisionfact" style="min-width: 200px">
					<div class="flex justify-content-between align-items-center">
						Fecha Em.Fact
						<p-sortIcon field="fechaemisionfact" />
						<p-columnFilter type="text" field="fechaemisionfact" display="menu" class="ml-auto" />
					</div>
				</th>
				<th pSortableColumn="imptotalfact" style="min-width: 40px">
					<div class="flex justify-content-between align-items-center">
						ImpTotalFact
						<p-sortIcon field="imptotalfact" />
						<p-columnFilter type="text" field="imptotalfact" display="menu" class="ml-auto" />
					</div>
				</th>
				<th style="min-width: 10rem">
					<div class="flex justify-content-between align-items-center">
						Acciones
					</div>
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-customer let-expanded="expanded">
			<tr class="p-selectable-row">
				<td>
					<p-button type="button" pRipple [pRowToggler]="customer" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
				</td>
				<td>
					{{ customer.id_orden_compra }}
					@if (getCumpleCount(customer.detalleorden)>0){
						<i class="pi pi-bell p-text-secondary" pBadge style="font-size: 1.1rem"
						   [value]="getCumpleCount(customer.detalleorden)" severity="danger"></i>

					}
				</td>
				<td>
					{{ getCumpleCount(customer.detalleorden) }} / {{ customer.detalleorden.length }}
					@if (getCumpleCount(customer.detalleorden)==customer.detalleorden.length){
						<i class="pi pi-check-circle" style="color: green;font-size: 1.5rem"></i>
					} @else if (getCumpleCount(customer.detalleorden)>0){
						<p-tag severity="warning" value="PARCIAL" [rounded]="true" />
					} @else {
						<p-tag severity="danger" value="EN ESPERA" [rounded]="true" />
					}
				</td>
				<td>
					{{ customer.fechaemision }}
				</td>
				<td>
					{{ customer.imptotal | currency:' ':'symbol':'1.2-2':'en-US'}}
					@if (customer.path_pago){
						<a
							[href]="customer.path_pago"
							target="_blank"
							rel="noopener noreferrer"
							pTooltip="Ver Pago"
							tooltipPosition="right">
							<i class="pi pi-receipt" style="color: #0e8314;font-size: 1.5rem;cursor:pointer"></i>
						</a>


					}
				</td>
				<td>
					<p-tag severity="warning" [value]="customer.estadoord" [severity]="getEstadoOrden(customer.estadoord)" [rounded]="true" />
					@if (getObservacionesCount(customer.detalleorden)>0 && customer.estadoord=='OBSERVADO'){
						<i class="pi pi-bell p-text-secondary" pBadge style="font-size: 1.1rem"
						   [value]="getObservacionesCount(customer.detalleorden)" severity="info"></i>

					}
				</td>
				<td>
					{{ customer.fechaemisionfact }}
				</td>
				<td class="text-end">
					{{ customer.imptotalfact | currency:' ':'symbol':'1.2-2':'en-US'}}
					@if (customer.path_factura){
						<a
							[href]="customer.path_factura"
							target="_blank"
							rel="noopener noreferrer"
							pTooltip="Ver Factura"
							tooltipPosition="right">
							<i class="pi pi-file-check" style="color: #7e088c;font-size: 1.5rem;cursor:pointer"></i>
						</a>


					}
				</td>
				<td>
					@if(user.rol.idRol === 1){
					<p-button  [rounded]="true" icon="pi pi-verified" pTooltip="Validación"
							   tooltipPosition="right" class="mx-1" severity="warning" (click)="vervalidacion=true;fila_select=customer"
							   [disabled]="getCumpleCount(customer.detalleorden)==customer.detalleorden.length || customer.estado_fact !='BOUCHER CHECK'"/>

					}
					<p-button  [rounded]="true" icon="pi pi-bell" pTooltip="Conformidad"
							   tooltipPosition="right" class="mx-1" severity="success" (click)="visualizarconf(customer)"
							   [disabled]="getCumpleCount(customer.detalleorden)!=customer.detalleorden.length || customer.estado_fact !='BOUCHER CHECK' ||
								customer.estadoord =='CONF. Y PAGADO'"/>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="rowexpansion" let-product>
			<tr class="back-tabla">
				<td colspan="10">
					<div class="p-3">
						<p-table [value]="product.detalleorden" dataKey="item">
							<ng-template pTemplate="header">
								<tr>
									<th pSortableColumn="id">Id <p-sortIcon field="price" /></th>
									<th pSortableColumn="desmateria">Materia Prima <p-sortIcon field="desmateria" /></th>
									<th pSortableColumn="cantidad">Cantidad <p-sortIcon field="cantidad" /></th>
									<th pSortableColumn="cantidad">Cantidad Conf.<p-sortIcon field="cantidad" /></th>
									<th pSortableColumn="impunit">S/ x unid <p-sortIcon field="impunit" /></th>
									<th pSortableColumn="impsubtotal">Subtotal <p-sortIcon field="impsubtotal" /></th>

									<th pSortableColumn="observaciones">
										<div class="flex justify-content-between align-items-center">
											Observaciones <p-sortIcon field="observaciones" />
										</div>
									</th>
									<th pSortableColumn="respuestaprov">
										<div class="flex justify-content-between align-items-center">
											Respuesta <p-sortIcon field="respuestaprov" />

										</div>
									</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-order>
								<tr [ngClass]="product.estadoord=='OBSERVADO' && order.cumple==0?'observado':null">
									<td>{{ order.item }}
										@if (order.cumple==1){
											<i class="pi pi-check-circle" style="color: green;font-size: 1.5rem"></i>
										}
									</td>
									<td>{{ order.desmateria }}</td>
									<td>{{ order.cantidad }}</td>
									<td>{{ order.cantidad_conf_total }}</td>
									<td>{{ order.impunit | currency:' ':'symbol':'1.2-2':'en-US' }}</td>
									<td>{{ order.impsubtotal | currency:' ':'symbol':'1.2-2':'en-US' }}</td>
									<td>{{ order.observaciones }}</td>
									<td>{{ order.respuestaprov }} @if (order.path_respuesta){
										<a
											[href]="order.path_respuesta"
											target="_blank"
											rel="noopener noreferrer"
											pTooltip="Ver Observación"
											tooltipPosition="right">
											<i class="pi pi-file-arrow-up" style="color: #8c0808;font-size: 1.5rem;cursor:pointer"></i>
										</a>


									}</td>
								</tr>
							</ng-template>
							<ng-template pTemplate="emptymessage">
								<tr>
									<td colspan="6">No tiene detalle de Ordenes </td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">No se encontraron órdenes de compras.</td>
			</tr>
		</ng-template>
	</p-table>
</div>

@if (verconformidad){
	<p-dialog
		[modal]="true"
		[(visible)]="verconformidad"
		[style]="{ width: '60rem' }"
		[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
		[maximizable]="true">
		<ng-template pTemplate="header">

			<img src="assets/img/lista-de-compras.gif" width="50"><h5 class="text-bg-success p-2 rounded-3"> Registrar Conformidad - {{fila_select.id_orden_compra}}</h5>
		</ng-template>
		<div class="row my-1">
			<div class="col-md-6 col-sm-12">
				<div class="d-flex flex-column fw-bold">

					<label class="mt-1 ">Responsable</label>
					<input pInputText aria-describedby="username-help" [(ngModel)]="fila_select.responsable" />
					<label class="mt-1">Fecha de Emisión</label>
					<p-calendar [(ngModel)]="fila_select.fechaemisionfact"
								dateFormat="dd-mm-yy"
								appendTo="body" [iconDisplay]="'input'"
								[showIcon]="true" inputId="icondisplay"
								pStyleClass="fs-11 example-full-width"
								[style]="{ width: '100%' }"
								[inputStyle]="{ width: '100%' }"/>
					<!--					<small id="fecha-help">Enter your username to reset your password.</small>-->

					<!--					<small id="username-help">Enter your username to reset your password.</small>-->
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<label class="fw-bold">Descripción de la observación</label>

				<textarea
					rows="5"
					cols="30"
					placeholder="Ej:Faltan 5 unidades del producto ACEITES"
					pInputTextarea
					class="w-full"
					[autoResize]="true"
					[(ngModel)]="fila_select.obsconformidad">
			</textarea>
			</div>
		</div>
		<p-table [value]="fila_select.detalleorden"
				 [tableStyle]="{'min-width': '30rem'}"
				 styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
				 sortMode="multiple">
			<ng-template pTemplate="header">
				<tr>
					<th pSortableColumn="item" style="width:10%">
						<div class="d-flex justify-content-center">
						ID<p-sortIcon field="item" />
						</div>
					</th>
					<th pSortableColumn="desmateria" style="width:30%">
						<div class="d-flex justify-content-center">
						Materia Prima <p-sortIcon field="desmateria" />
						</div>
					</th>
					<th pSortableColumn="cantidad" style="width:10%">
						<div class="d-flex justify-content-center">
						Cantidad <p-sortIcon field="cantidad" />
						</div>
					</th>
					<th pSortableColumn="cant_total_conf" style="width:10%">
						<div class="d-flex justify-content-center">
						Cantidad Conf.<p-sortIcon field="cant_total_conf" />
						</div>
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-product>
				<tr>
					<td>{{product.item}}</td>
					<td>{{ product.desmateria }}</td>
					<td>{{ product.cantidad }}
					</td>
					<td>
						<p-inputNumber
							[(ngModel)]="product.cant_total_conf"
							inputId="integeronly"
							(ngModelChange)="cambiocantidad()"/>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="footer">
				<tr>
					<td colspan="3" class="text-end">Cantidad Total:</td>
					<td class="fw-bold text-end"> {{sumaconformidad}}</td>
				</tr>
			</ng-template>
		</p-table>
		<div class="row">
			<div class="col-md-6 col-sm-12 text-end text-primary">
				Condición del Empaque y Presentación
			</div>
			<div class="col-md-6 col-sm-12">

				<p-inputSwitch [(ngModel)]="checked_parametro1" (click)="cambiocheck()"/>
			</div>
			<div class="col-md-6 col-sm-12 text-end text-primary">
				Identificación y Trazabilidad del Producto
			</div>
			<div class="col-md-6 col-sm-12 ">

				<p-inputSwitch [(ngModel)]="checked_parametro2" (click)="cambiocheck()"/>
			</div>
			<div class="col-md-6 col-sm-12 text-end text-primary">
				Características Físicas o Sensoriales
			</div>
			<div class="col-md-6 col-sm-12">

				<p-inputSwitch [(ngModel)]="checked_parametro3" (click)="cambiocheck()"/>
			</div>
		</div>
		@if(valorswitch>2){

			<div class="p-5" >
				<p-panel [toggleable]="true">
					<ng-template pTemplate="header">
						<div class="flex align-items-center gap-2">
							<img src="assets/img/bill.gif" width="50" style="border-radius:50%">
							<span class="font-bold text-success fs-4">

						PROCESO DE PAGO
            </span>
						</div>
					</ng-template>
					<div class="row my-1">
						<div class="col-md-6 col-sm-12 d-flex flex-column">
							<label class="fw-bold">Monto Pagado</label>
							<p-inputNumber
								[(ngModel)]="fila_select.imppagado"
								mode="currency"
								inputId="currency-peru"
								currency="PEN"
								locale="es-PE" />
							<label class="fw-bold mt-1">Método de Pagos</label>
							<p-dropdown
								[options]="lstTiposPago"
								[(ngModel)]="fila_select.metodo_pago"
								optionLabel="descripcion"
								optionValue="idTipoPago"
								placeholder="Seleccionar"
								appendTo="body"/>
							<label class="fw-bold mt-1">Número de Operación</label>
							<input pInputText aria-describedby="username-help" [(ngModel)]="fila_select.nrooperacion" />
							<label class="fw-bold mt-1">Fecha de Pago</label>
							<p-calendar [(ngModel)]="fila_select.fecha_pago"
										dateFormat="dd-mm-yy"
										appendTo="body" [iconDisplay]="'input'"
										[showIcon]="true" inputId="icondisplay"
										pStyleClass="fs-11 example-full-width"
										[style]="{ width: '100%' }"
										[inputStyle]="{ width: '100%' }"/>
						</div>
						<div class="col-md-6 col-sm-12 d-flex flex-column align-items-center">
							<p-fileUpload
								mode="basic"
								name="demo[]"
								class="my-1"
								chooseIcon="pi pi-upload"
								url="https://www.primefaces.org/cdn/api/upload.php"
								accept="image/*,application/pdf"
								maxFileSize="10000000"
								(onSelect)="this.carga=true"
								(onUpload)="onBasicUploadAuto($event);"
								[auto]="true"
								[disabled]="carga"
								chooseLabel="Buscar Archivos" />
							@if (carga){
								<div class="d-flex align-items-center justify-content-center">
									<i class="pi pi-spin pi-cog" style="font-size: 100px;color: #5698bb"></i>
								</div>
							}

							@if (conformidadRequest.archivobase64 && !carga){
								<img *ngIf="conformidadRequest.extensiondoc === 'jpeg' || conformidadRequest.extensiondoc === 'jpg' || conformidadRequest.extensiondoc === 'png'"
									 [src]="conformidadRequest.archivobase64"
									 style="max-width: 100%; max-height: 250px;" />

								<!-- Mostrar PDF -->
								<iframe *ngIf="conformidadRequest.extensiondoc === 'pdf' && !carga"
										[src]="sanitizarPdf(conformidadRequest.archivobase64)"
										width="100%"
										height="250"
										style="border: none"
										allowfullscreen>
								</iframe>
							}

						</div>
					</div>
				</p-panel>
			</div>
		}
		<ng-template pTemplate="footer">
			<div class="text-end mt-2">
				<p-button  icon="pi pi-trash" [outlined]="true" label="Cancelar" (click)="verconformidad=false" class="mx-1" severity="secondary"  />
				<p-button  icon="pi pi-save" label="Generar Conformidad" class="mx-1" severity="success"  (click)="guardarconformidad()"/>
			</div>
		</ng-template>
	</p-dialog>
}
@if (vervalidacion){
	<p-dialog
		[modal]="true"
		[(visible)]="vervalidacion"
		[style]="{ width: '85vw' }"
		[breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
		[maximizable]="true">
		<ng-template pTemplate="header">

			<img src="assets/img/validation.gif" width="50"><h5 class="text-bg-warning p-2 rounded-3"> Validación de Calidad - {{fila_select.id_orden_compra}}</h5>
		</ng-template>

		<p-table [value]="fila_select.detalleorden"
				 [tableStyle]="{'min-width': '100rem'}"
				 styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
				 sortMode="multiple">
			<ng-template pTemplate="header">
				<tr>
					<th pSortableColumn="item" style="width:10%">
						ID<p-sortIcon field="item" />
					</th>
					<th pSortableColumn="desmateria" style="width:30%">
						Materia Prima <p-sortIcon field="desmateria" />
					</th>
					<th  style="width:10%">
						Cumple
					</th>
					<th pSortableColumn="ph" style="width:10%">
						pH<p-sortIcon field="ph" />
					</th>
					<th pSortableColumn="obs_validacion" style="width:40%">
						Observaciones<p-sortIcon field="obs_validacion" />
					</th>
					<th pSortableColumn="ficha_tecnica" style="min-width: 80px">
						<div class="flex justify-content-between align-items-center">
							Ficha Técnica
							<p-sortIcon field="ficha_tecnica" />
							<p-columnFilter type="text" field="ficha_tecnica" display="menu" class="ml-auto" />
						</div>
					</th>
					<th pSortableColumn="fecha_vencimiento" style="min-width: 120px">
						<div class="flex justify-content-between align-items-center">
							Fecha Vencimiento
							<p-sortIcon field="fecha_vencimiento" />
							<p-columnFilter type="text" field="fecha_vencimiento" display="menu" class="ml-auto" />
						</div>
					</th>
					<th pSortableColumn="lote" style="min-width: 80px">
						<div class="flex justify-content-between align-items-center">
							Lote
							<p-sortIcon field="lote" />
							<p-columnFilter type="text" field="lote" display="menu" class="ml-auto" />
						</div>
					</th>
					<th pSortableColumn="pureza" style="min-width: 80px">
						<div class="flex justify-content-between align-items-center">
							Pureza
							<p-sortIcon field="pureza" />
							<p-columnFilter type="numeric" field="pureza" display="menu" class="ml-auto" />
						</div>
					</th>
					<th pSortableColumn="peso_bruto" style="min-width: 80px">
						<div class="flex justify-content-between align-items-center">
							Peso Bruto
							<p-sortIcon field="peso_bruto" />
							<p-columnFilter type="numeric" field="peso_bruto" display="menu" class="ml-auto" />
						</div>
					</th>
					<th pSortableColumn="peso_neto" style="min-width: 80px">
						<div class="flex justify-content-between align-items-center">
							Peso Neto
							<p-sortIcon field="peso_neto" />
							<p-columnFilter type="numeric" field="peso_neto" display="menu" class="ml-auto" />
						</div>
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-product>
				<tr>
					<td>{{product.item}}</td>
					<td>{{ product.desmateria }}</td>
					<td><p-inputSwitch [(ngModel)]="product.switchcumple" />
					</td>
					<td>
						<p-inputNumber
							[(ngModel)]="product.ph"
							inputId="minmaxfraction"
							mode="decimal"
							class="w-full text-end"
							[minFractionDigits]="1"
							[maxFractionDigits]="5"
						/>
					</td>
					<td>
						<textarea
							rows="4"
							cols="10"
							placeholder="Ej: Observación (si aplica)"
							pInputTextarea
							class="w-full"
							[autoResize]="true"
							[(ngModel)]="product.observaciones">
						</textarea>
					</td>
					<td>
						<input
							class="w-full"
							type="text"
							pInputText
							[(ngModel)]="product.ficha_tecnica" />
					</td>
					<td>
						<p-calendar [(ngModel)]="product.fecha_vencimiento"
									dateFormat="dd-mm-yy"
									appendTo="body"
									[iconDisplay]="'input'"
									[showIcon]="true" inputId="icondisplay"
									pStyleClass="fs-11 example-full-width"
									[style]="{ width: '100%' }"
									[showTime]="true"
									[hourFormat]="'24'"
									[inputStyle]="{ width: '100%' }"/>
					</td>
					<td>
						<input
							class="w-full"
							type="text"
							pInputText
							[(ngModel)]="product.lote" />
					</td>
					<td>
						<p-inputNumber
							inputId="integeronly"
							[(ngModel)]="product.pureza"
							suffix="%"/>
					</td>
					<td>
						<p-inputNumber
							inputId="minmaxfraction"
							[(ngModel)]="product.peso_bruto"
							mode="decimal"
							[minFractionDigits]="2"
							[maxFractionDigits]="5" />
					</td>
					<td>
						<p-inputNumber
							inputId="minmaxfraction"
							[(ngModel)]="product.peso_neto"
							mode="decimal"
							[minFractionDigits]="2"
							[maxFractionDigits]="5" />
					</td>


				</tr>
			</ng-template>
		</p-table>
		<ng-template pTemplate="footer">
			<div class="text-end mt-2">
				<p-button  icon="pi pi-trash" [outlined]="true" label="Cancelar" (click)="vervalidacion=false" class="mx-1" severity="secondary"  />
				<p-button  icon="pi pi-save" label="Guardar Validacion" class="mx-1" severity="success" (click)="guardarvalidacion()" />
			</div>
		</ng-template>
	</p-dialog>
}
