
ul{
	padding-left:0 !important;
	margin-bottom: 0 !important;
}
ul li a{
	list-style: none !important;
	text-decoration: none !important;

}


.p-menuitem-link .p-menuitem-icon{
	color: #46b9ff;
}
.p-inputnumber,.p-dropdown{
	width:100%;
}
.p-badge{
	font-size: 0.55rem;
	font-weight: 600;
	min-width: 1rem;
	height: 1rem;
	line-height: 1rem;
	margin-left: 10px;
}
