<div class="container mt-5" style="width: 50%">
	<div class="card shadow-lg p-4 rounded-4">
		<!-- Botón de retroceso -->
		<!-- <button class="btn-back-rosa position-absolute" (click)="volverARegistroPedido()">
			<i class="bi bi-arrow-left"></i>
			<span>Volver al Pedido</span>
		</button> -->
		
		<h2 class="mb-4 text-center">Pago de Pedido</h2>

		<div class="row mb-2">
			<div class="col-md-6">
				<label for="idPedido" class="form-label">ID Pedido</label>
				<input type="text" id="idPedido" class="form-control" [value]="idPedido" readonly>
			</div>
			<div class="col-md-6">
				<label for="montoTotal" class="form-label">Monto Total</label>
				<div class="input-group mb-3">
                    <span class="input-group-text">S/</span>
					<input type="text" id="montoTotal" class="form-control" [value]="pedido.montoTotal" readonly>
                </div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-md-6">
				<label for="cliente" class="form-label">Cliente</label>
				<input type="text" id="cliente" class="form-control" [value]="pedido.cliente.nombres + ' ' + pedido.cliente.apellidos" readonly>
			</div>
			<div class="col-md-6">
				<label for="fechaPedido" class="form-label">Fecha del Pedido</label>
				<input type="text" id="fechaPedido" class="form-control" [value]="pedido.fechaPedido | date:'dd/MM/yyyy'" readonly>
			</div>
		</div>
		<hr>
		
		<!-- Checkbox de términos y condiciones -->
		<div class="row mb-3">
			<div class="col-12 d-flex justify-content-center">
				<div class="form-check">
					<input type="checkbox" class="form-check-input" id="terminosCondiciones" [(ngModel)]="terminosAceptados">
					<label class="form-check-label" for="terminosCondiciones">
						Acepto los 
						<a href="javascript:void(0)" class="text-decoration-underline text-primary" (click)="openModal(terminosCondicionesTemplate)">
							Términos y Condiciones
						</a>
					</label>
				</div>
			</div>
		</div>
		
		<div class="row mt-2 justify-content-center">
			@if(dataService.getLoggedUser().rol.idRol == 1 || dataService.getLoggedUser().rol.idRol == 5){
				<div class="col-md-6 d-flex justify-content-center mb-2 mb-md-0">
					<button class="btn btn-primary col-12" type="button" [disabled]="!terminosAceptados" (click)="confirmarPagoManual()"><i class="bi bi-pencil-square"></i> Pago manual</button>
				</div>
			}
			<div class="col-md-6 d-flex justify-content-center">
				<button class="btn btn-danger col-12" type="button" [disabled]="!terminosAceptados" (click)="confirmarPagoIziPay()"><i class="bi bi-credit-card"></i> Tarjeta (IziPay)</button>
			</div>
		</div>

		<!-- <hr>
		<div class="d-flex justify-content-end align-items-center">
			<button class="btn btn-success me-2" (click)="router.navigate(['/pages/atencion-cliente/pagar-pedido', idPedido])">Pagar</button>
			<button class="btn btn-primary">Enviar a Producción</button>
		</div> -->
	</div>
</div>

<ng-template #pagoIzipay let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Pago IziPay</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');cancelarPagoIziPay()"></button>
	</div>
	<div class="modal-body">
		<div class="row mb-2">
			<div id="myPaymentForm">
				<div class="kr-smart-form" kr-card-form-expanded></div>
			</div>
			<div data-test="payment-message">{{ message }}</div>
		</div>
	</div>
</ng-template>

<ng-template #pagoManualTemplate let-modal>
	<form (ngSubmit)="onPagarManual()" #pagoManualForm="ngForm">
		<div class="modal-header">
			<h4 class="modal-title">Registrar Pago Manual</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
		</div>
		<div class="modal-body">
			<div class="mb-3">
				<label for="manualIdPedido" class="form-label">ID Pedido</label>
				<input type="text" id="manualIdPedido" class="form-control" [value]="idPedido" readonly>
			</div>
			<div class="mb-3">
				<label for="manualCliente" class="form-label">Nombre del Cliente</label>
				<input type="text" id="manualCliente" class="form-control" [value]="pedido.cliente.nombres + ' ' + pedido.cliente.apellidos" readonly>
			</div>
			<div class="mb-3">
				<label for="manualMontoPagado" class="form-label">Monto Pagado{{ pagoManual.idTipoPago == 5 ? ' (50%)' : '' }}</label>
				<div class="input-group mb-3">
                    <span class="input-group-text">S/</span>
					<input type="text" id="manualMontoPagado" class="form-control" [value]="pagoManual.idTipoPago == 5 ? (pedido.montoTotal / 2) : pedido.montoTotal" readonly>
                </div>
			</div>
			<div class="mb-3">
				<label for="metodoPago" class="form-label">Método de Pago*</label>
				<select [(ngModel)]="pagoManual.idTipoPago" id="metodoPago" class="form-select" required name="metodoPago">
					<option [ngValue]="0" disabled selected>Seleccione un método</option>
					<option *ngFor="let tipo of lstTiposPago" [ngValue]="tipo.idTipoPago">{{ tipo.descripcion }}</option>
				</select>
			</div>

			@if (pagoManual.idTipoPago == 3) {
				<div class="mb-3">
					<label for="banco" class="form-label">Banco*</label>
					<select [(ngModel)]="pagoManual.idBanco" id="banco" class="form-select" required name="banco">
						<option [ngValue]="null" disabled selected>Seleccione un banco</option>
						<option *ngFor="let banco of lstBancos" [ngValue]="banco.idBanco">{{ banco.nombre }}</option>
					</select>
				</div>
			}

			<div class="mb-3">
				<label for="numeroOperacion" class="form-label">Número de Operación{{ pagoManual.idTipoPago == 4 || pagoManual.idTipoPago == 5 ? '' : '*' }}</label>
				<input type="text" id="numeroOperacion" class="form-control" [(ngModel)]="pagoManual.numeroOperacion" [required]="pagoManual.idTipoPago != 4 && pagoManual.idTipoPago != 5" name="numeroOperacion">
			</div>
			<div class="mb-3">
				<label for="fechaPago" class="form-label">Fecha de Pago*</label>
				<input type="date" id="fechaPago" class="form-control" [(ngModel)]="pagoManual.fechaPago" required name="fechaPago">
			</div>

			<div class="mb-3">
				<label for="archivoInput" class="form-label">Adjunto</label>
				<input type="file"
						id="archivoInput"
						class="form-control"
						(change)="onArchivoSeleccionado($event)" accept=".pdf,.jpg,.png">

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancelar</button>
			<button type="submit" class="btn btn-success" [disabled]="!esFormularioValido(pagoManualForm)">Registrar Pago</button>
		</div>
	</form>
</ng-template>

<!-- Modal de Términos y Condiciones -->
<ng-template #terminosCondicionesTemplate let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Términos y Condiciones</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
		<div class="text-justify">
			<h5 class="fw-bold">Términos y condiciones</h5>
			
			<h6 class="fw-bold mt-3">Términos y condiciones para el uso del sitio web</h6>
			<p>
				Lea detenidamente estos Términos y Condiciones antes de utilizar este sitio web. Al acceder y utilizar el Sitio, usted acepta estos Términos y Condiciones en su totalidad, además de cualquier otra ley o reglamento que sea aplicable al Sitio y a Internet. Al visitar y/o comprar en nuestro sitio web, usted afirma estar de acuerdo con los Términos y Condiciones, si no acepta estos Términos y Condiciones en su totalidad, por favor, abandone el Sitio.
			</p>
			
			<h6 class="fw-bold mt-3">Propiedad</h6>
			<p>
				Este sitio se encuentra operado por DERMOFARMACIA BELLA CURET S.A.C., constituida legalmente bajo las leyes de la República del Perú, RUC N° 20602592457, con su principal centro de operaciones ubicado en Av. Petit Thouars 4373 A, Miraflores, Lima.
			</p>
			<p>
				Todos los contenidos gráficos o textuales (imágenes, ilustraciones, fotografías, dibujos, diseños, íconos, logos, entre otros materiales) son de propiedad y marca registrada controlada por DERMOFARMACIA BELLA CURET S.A.C.
			</p>
			
			<h6 class="fw-bold mt-3">Aceptación de usuario</h6>
			<p>
				Usted (en adelante el "Usuario") al navegar, utilizar y/o visitar https://magistrack-bc.website/magistrack-bc/, acepta los Términos y Condiciones de este sitio web. En caso de que el Usuario no aceptara algunos de estos términos, no estará autorizado a utilizar la página web. Además, cabe señalar que https://magistrack-bc.website/magistrack-bc/ posee la facultad de modificar o revisar los Términos y Condiciones en cualquier momento, lo cual será debidamente informado a todos los usuarios mediante un aviso visible dentro de la página web, otorgándose así al Usuario la posibilidad de revisar las nuevas modificaciones y/o revisiones, a efectos de que las acepte o las rechace mediante el envío de un correo electrónico a la dirección que será consignada en el aviso.
			</p>
			
			<h6 class="fw-bold mt-3">Datos personales</h6>
			<p>
				El Usuario autoriza y conoce que su información de contacto, así como sus demás datos personales serán almacenados en la base de datos de clientes o proveedores de https://magistrack-bc.website/magistrack-bc/, según corresponda, y utilizados por éste para remitirle publicidad y/o información relevante y relacionada con el negocio de https://magistrack-bc.website/magistrack-bc/.
			</p>
			<p>
				Al otorgar su autorización, Bella Curet cumplirá el marco legal sobre protección de datos personales en el Perú; razón por la cual le garantizamos que su información será preservada para los fines anteriormente descritos bajo estricta seguridad
			</p>
			
			<h6 class="fw-bold mt-3">Renuncia a las garantías</h6>
			<p>
				La normativa regida por la empresa Bella Curet expresa que la garantía de los productos se encuentra ligada a la posesión del producto. Ante cualquier daño o pérdida por parte del currier o tercero encargado de realizar el envío. La empresa no cubre gastos de envío en cuanto a las devoluciones de los productos, en este caso, cualquier daño durante el transporte de devolución de algún pedido será rechazado por parte de la empresa y la devolución del producto será automáticamente descartada.
			</p>
			
			<h6 class="fw-bold mt-3">Limitación de responsabilidad</h6>
			<p>
				El uso que usted haga del Sitio es por su propia cuenta y riesgo. La empresa no se hace responsables de ninguna parte involucrada en la creación, la producción o la distribución.
			</p>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cerrar</button>
		<button type="button" class="btn btn-primary" (click)="aceptarTerminos(); modal.close('accept')">Aceptar Términos</button>
	</div>
</ng-template>