<div class="container mt-5" style="width: 50%">
	<div class="card shadow-lg p-4 rounded-4">
		<h2 class="mb-4 text-center">Pago de Pedido</h2>

		<div class="row mb-2">
			<div id="myPaymentForm">
				<div class="kr-smart-form" kr-card-form-expanded></div>
			</div>
			<div data-test="payment-message">{{ message }}</div>
		</div>

		<!-- <hr>
		<div class="d-flex justify-content-end align-items-center">
			<button class="btn btn-success me-2" (click)="router.navigate(['/pages/atencion-cliente/pagar-pedido', idPedido])">Pagar</button>
			<button class="btn btn-primary">Enviar a Producción</button>
		</div> -->
	</div>
</div>
