//@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "bootstrap/scss/bootstrap";
// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

// Import the Sass files as usual
@import "bootstrap-icons/font/bootstrap-icons";
/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
//v@import 'bootstrap/scss/bootstrap';*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "primeicons/primeicons.css";
//@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
//@import "primeng/resources/themes/lara-light-blue/theme.css";
//@import "primeng/resources/primeng.css";
.p-inputnumber input{
	width:100% !important;
	text-align:end;
}
.p-dropdown{
	width:100% !important;
	text-align:end;
}
